<div class="container">
  <div class="content-header">
    <div class="header-section">
      <h1><small>Add article to the store</small></h1>
    </div>
  </div>
  <ul class="breadcrumb breadcrumb-top">
  <li><a href="<%= stores_path %>">Home</a></li>
  </ul>
  <section>
    <%= render 'form' %>
  </section>
</div>
